#int {
  width: 100%; }
  #int .int_popup {
    z-index: 3;
    left: 0px !important; }
    #int .int_popup.img {
      background: none !important; }
      #int .int_popup.img.black, #int .int_popup.img.red, #int .int_popup.img.map, #int .int_popup.img.blue, #int .int_popup.img.white {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg); }
    #int .int_popup.text {
      border-left: none;
      border-right: none; }
    #int .int_popup .slide_img {
      max-width: 100%;
      max-height: 100%;
      height: auto; }
    #int .int_popup p {
      font-size: 0.8em; }
  #int .btn_ex {
    font-size: 0.85em; }
  #int .int_popup_wrapper {
    width: 100%; }
  #int .btn_mute {
    display: none; }
  #int .fingers_wrapper {
    width: 100%; }
  #int .note {
    width: 25px;
    height: 25px; }
  #int .solution_wrapper {
    width: auto; }
  #int .int_teaser {
    position: static;
    float: left;
    border: 1px solid #e3e3e3;
    padding: 1em;
    margin: 1em; }
