{
	red:[
		{
			text:"
					<p><span class=\"indent\"></span>The truth sometimes reminds me of a city buried in</p>
					<p>sand,” <span class=\"text_red\">Aka</span> said. “As time passes, sometimes the sand</p>
					<p>piles up even thicker, and sometimes it’s blown away</p>
					<p>and what’s below is revealed. In this case it’s definitely</p>
					<p>the latter. Whether the misunderstanding is cleared up</p>
					<p>or it isn’t, you aren’t the type of person to do something</p>
					"
		}
		{
			text:"
				<p><span class=\"indent\"></span><span class=\"text_red\">Aka</span> seemed lost in thought. “<span class=\"text_map\">Tsukuru</span>,” he finally</p>
<p class=\"final\">said, “I have a favor to ask.”</p>
	      <p class=\"final\"><span class=\"indent\"></span>“What kind?”</p>
	      <p><span class=\"indent\"></span>“I have something I want to tell you. A confession,</p>
	<p>you might call it, that I’ve never told anybody before.”</p>
			"
		}
		{
			img:"goldlighter.jpg"
		}
		{
			img:"aka_cards.jpg"
		}
		{
			img:"aka_pliers.jpg"
		}
	]
	blue:[
		{
			text:"
        <p><span class=\"indent\"></span><span class=\"text_map\">Tsukuru</span> remained silent, unable to find the right</p>
        <p class=\"final\">reply.</p>
				<p class=\"cutoff\"><span class=\"indent\"></span>“You know, in a sense we were a perfect combina-</p>
				<p>tion, the five of us. Like five fingers.” <span class=\"text_blue\">Ao</span> raised his right</p>
				<p>hand and spread his thick fingers, “I still think that. The</p>
				"
		}
		{
			img:"ao_lexus.jpg"
		}
		{
			img:"rugby.jpg"
		}
	]
	white:[
		{
			text:"
				<p><em>wrong</em> with her then. She had a lot of musical talent.</p>
				<p>The kind of beautiful music she played blew us away,</p>
				<p>but unfortunately she demanded more from herself.</p>
				"
		}
		{
			text:"
				<p class=\"final\">listen to.”</p>
        <p><span class=\"indent\"></span>“<span class=\"text_white\">Yuzu</span> played this piece so beautifully. She put so</p>
				<p class=\"final\">much feeling into it.”</p>
        <p><span class=\"indent\"></span>“She really did. She was very good at pieces this</p>
				<p>length. In longer pieces she sort of ran out of energy</p>
			"
		}
		{
			img:"SHIRO_LeMalduPays.png"
		}
		{
			img:"inTheCorner.jpg"
		}
	]
	black:[
		{
			text:"
				<p class=\"final\">that scene. It was a strange thing.</p>
        <p><span class=\"indent\"></span>“Farewell <span class=\"text_map\">Tsukuru Tazaki</span>. Have a safe trip home,”</p>
				<p><span class=\"text_black\">Eri</span> said as they said goodbye. “Don’t let the bad elves</p>
				<p class=\"final\">get you.”</p>
				<p class=\"final\"><span class=\"indent\"></span>“Bad elves?”</p>
				<p><span class=\"indent\"></span><span class=\"text_black\">Eri</span>’s eyes narrowed, her lips curling mischievously</p>
				<p class=\"final\">like in the old days. “It’s a saying we use a lot here.”</p>
			"
		}
		{
			img:"KURO_cd.jpg"
		}
		{
			img:"KURO_pot.jpg"
		}
		{
			img:"forresttrees.jpg"
		}
		{
			img:"KURO_pottery.gif"
		}
	]
	map:[
		{
			text:"
			<p><span class=\"indent\"></span>“<a target=\"_blank\" href=\"http://en.wikipedia.org/wiki/Années_de_pèlerinage%23Premi.C3.A8re_ann.C3.A9e:_Suisse\">Le mal du pays</a>.” The quiet, melancholy music</p>
			<p>gradually gave shape to the undefined sadness envelop-</p>
			<p>ing his heart, as if countless microscopic bits of pol-</p>
			<p>len adhered to an invisible being concealed in the air,</p>
			<p>ultimately revealing, slowly and silently, its shape. This</p>
			"
		}
		{
			text:"
				<p  class=\"cutoff\">Sometimes <span class=\"text_map\">Tsukuru</span> couldn’t understand why he was</p>
				<p>included in <span class=\"text_red\">their</span> <span class=\"text_blue\">group</span> <span class=\"text_white\">of</span> <span class=\"text_black\">five</span>. Did the others really need</p>
				<p>him? Wouldn’t they be able to relax and have a better</p>
				<p>time if he weren’t there? Maybe they just hadn’t realized</p>
				<p>it yet, and it was only a matter of time before they did?</p>
				<p>The more he pondered this dilemma, the less he under-</p></p>
			"
		}
		{
			img:"TSUKURU_signature.jpg"
		}
		{
			img:"TSUKURU_Swimming.jpg"
		}
		{
			img:"TSUKURU_Overboard.gif"
		}
		{
			img:"TSUKURU_recordplayer.gif"
		}
		{
			img:"birdswithbeaks.jpg"
		}
		{
			img:"TSUKURU_train.gif"
		}
		{
			img:"TSUKURU_insidetrain.gif"
		}
	]
}