@mixin rotate($angle){
	transform:rotate($angle);
	-ms-transform:rotate($angle);
	-webkit-transform:rotate($angle);
}

#int{
	width:100%;
	.int_popup{
		width:100% !important;
		height:100% !important;
		left:0px !important;
		top:0px !important;
		z-index:3;
		padding:0;
		&.img{
			&.black,&.red,&.map,&.blue,&.white{
				@include rotate(0deg);
			}
		}
	}
	.btn_ex{
		font-size:2em;
	}
	.int_popup_wrapper{
		width:100%;
	}
	.int_popup.text{
		border:none;
	}
	.btn_mute{
		display:none;
	}
}