{
	"solution":"

<p><span class=\"indent\"></span>One day <span class=\"text_map\">Tsuruku Tazaki’s</span> four closest friends, the
friends he’d known for a long time, announced that they
did not want to see him, or talk with him, ever again.
It was a sudden, decisive declaration, with no room
for compromise. They gave no explanation, not a word,
for this harsh pronouncement.</p>

<p><span class=\"indent\"></span>This drastic change took place during summer
	vacation of his sophomore year, between the first and
	second semesters. Afterward <span class=\"text_map\">Tsuruku Tazaki’s</span> life was
	changed forever, as if a sheer ridge had divided
	the original vegetation into two distinct biomes.</p>

<p><span class=\"indent\"></span>“<I’m sorry, but I have to ask you not to call any of us
anymore,” <span class=\"text_blue\">Ao</span> said abruptly and without preface. No
“Hey!” or “How’ve you been?” or “It’s been a while.” <em>I’m
sorry</em> was his only concession to social niceties.</p>

<p><span class=\"indent\"></span><span class=\"text_map\">Tsukuru</span> took a breath, and silently repeated <span class=\"text_blue\">Ao’s</span>
words, quickly assessing them. He tried to read the
emotions behind them, but the words were like the
formal recitation of an announcement. There had been
no room for feelings.</p>

<p><span class=\"indent\"></span>“If everybody’s telling me not to call them, then of
course I won’t,” <span class=\"text_map\">Tsukuru</span> replied. The words slipped out,
almost automatically. He had tried to speak normally,
calmly, but his voice sounded like a stranger’s. The voice
of someone living in a distant town, someone he had
never met (and probably never would).</p>

<p><span class=\"indent\"></span>“Then don’t,” <span class=\"text_blue\">Ao</span> said.</p>

<p><span class=\"indent\"></span>“I don’t plan on doing anything people don’t want me
to do,” <span class=\"text_map\">Tsukuru</span> said.</p>

<p><span class=\"indent\"></span><span class=\"text_blue\">Ao</span> let out a sound, neither a sigh nor a groan of agreement.</p>

<p><span class=\"indent\"></span>“But if possible, I do want to know the reason for this,”
<span class=\"text_map\">Tsukuru</span> said.</p>

<p><span class=\"indent\"></span>“That’s not something I can tell you,” <span class=\"text_blue\">Ao</span> replied.</p>

<p><span class=\"indent\"></span>“Then who can?”</p>

<p><span class=\"indent\"></span>A thick stone wall rose. There was silence on the other
end. <span class=\"text_map\">Tsukuru</span> could faintly hear <span class=\"text_blue\">Ao</span> breathing through
his nostrils. He pictured <span class=\"text_blue\">Ao’s</span> flat, fleshy nose.</p>

<p><span class=\"indent\"></span>“Think about it, and you’ll figure it out,” <span class=\"text_blue\">Ao</span> said, finally.</p>

<p><span class=\"indent\"></span><span class=\"text_map\">Tsukuru</span> was speechless. What was he talking about?
<em>Think about it?</em> Think about <em>what</em>? If I think any harder
about anything, I won’t know who I am anymore.</p>

<p><span class=\"indent\"></span>“It’s too bad it turned out like this,” <span class=\"text_blue\">Ao</span> said. “All of you
	feel this way?”</p>

<p><span class=\"indent\"></span>“Yeah. Everyone feels it’s too bad.”</p>

<p><span class=\"indent\"></span>“Tell me—what happened?” <span class=\"text_map\">Tsukuru</span> asked.</p>

<p><span class=\"indent\"></span>“You’d better ask yourself that,” <span class=\"text_blue\">Ao</span> said. <span class=\"text_map\">Tsukuru</span>
detected a quaver of sadness and anger in his voice, but
it was just for an instant. Before <span class=\"text_map\">Tsukuru</span> could
think of how to respond, <span class=\"text_blue\">Ao</span> had hung up.</p>
	"}