/* finger colors */
$finger_red:#F21A27;
$finger_blue:#0081B5;
$finger_white:#FFFDFE;
$finger_black:#000000;

/* finger dimensions */
$finger_width: 42px;
$finger_spacing: 15px;
$finger_height:204px;

@mixin rotate($angle){
	transform:rotate($angle);
	-ms-transform:rotate($angle);
	-webkit-transform:rotate($angle);
}
@mixin bounce_animation{
	animation-name: usedLetter;
  animation-timing-function: ease-in;
  animation-duration: .15s;
  -webkit-animation-name: usedLetter;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: .15s;
}
@mixin no_select{
	-moz-user-select:-moz-none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;
}
@mixin paper_border{
	//border-width: 27px 0 25px 0;
	border: 27px solid transparent;
	-moz-border-image: url("graphics/paper/border5.png") 25 0 20 0 repeat;
	-webkit-border-image: url("graphics/paper/border5.png") 25 0 20 0 repeat;
	border-image: url("graphics/paper/border5.png") 25 0 20 0 repeat;
	background: url("graphics/paper/mid5.png") center;
	background-clip: padding-box;
}

#int{
	width: 1012px;
	margin-left:auto;
	margin-right:auto;
	height:600px;
	text-align:center;
	overflow: hidden;
	border-bottom:1px solid #c7c7c7;
	position: relative;
	background: -moz-linear-gradient(top, rgba(198,199,203,0.65) 0%, rgba(234,234,234,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(198,199,203,0.65)), color-stop(100%,rgba(234,234,234,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(198,199,203,0.65) 0%,rgba(234,234,234,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(198,199,203,0.65) 0%,rgba(234,234,234,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(198,199,203,0.65) 0%,rgba(234,234,234,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(198,199,203,0.65) 0%,rgba(234,234,234,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6c6c7cb', endColorstr='#00eaeaea',GradientType=0 ); /* IE6-9 */

	.top_bar{
		$top_bar_padding:0.7em;
		text-align: center;
		position: relative;
		text-transform: uppercase;
		color:#F9F7F8;
		padding:$top_bar_padding;
		line-height:1em;
		background-color:#211F20;
		z-index:2;
		.right_wrapper{
			position: absolute;
			top:$top_bar_padding;
			right:100px;
			line-height: 1em;
		}
	}
	.fingers_wrapper{
		height:$finger_height;
		z-index:2;
		margin-top:140px;
		display: inline-block;
		position: relative;
		width:250px;
		height:268px;
	}
	.finger{
		display: none;
		cursor: pointer;
		border:1px solid #c7c7c7;
		bottom:0px;
		position: absolute;
		width:$finger_width;
		height:$finger_height;
		box-shadow: 10px 15px 10px rgba(0,0,0,0.10);
		z-index:2;
		// &:hover{
		// 	opacity:0.9;
		// }
		&.finger_red{
			left:0px;
			bottom:15px;
			background-color:$finger_red;
		}
		&.finger_blue{
			left:(($finger_width+$finger_spacing)*1);
			bottom:45px;
			background-color:$finger_blue;
		}
		&.finger_white{
			left:(($finger_width+$finger_spacing)*2);
			bottom:65px;
			background-color:$finger_white;
		}
		&.finger_black{
			left:(($finger_width+$finger_spacing)*3);
			bottom:45px;
			background-color:$finger_black;
		}
		&.finger_map{
			left:(($finger_width+$finger_spacing)*4)+($finger_width);
			bottom:0px;
			height:$finger_height*0.5;
			top:auto;
			background-color:yellow;
			@include rotate(45deg);
			background:url('graphics/map.png');
		}
		// &:active{
		// 	opacity:0.9;
		// }
	}
	.btn_music{
		cursor:pointer;
		position: absolute;
		top:43px;
		right:27px;
		width:50px;
		height:50px;
		background:url('graphics/btn_music.png');
		&.active{
			background-position:-50px 0px;
		}
	}
	.piano{
		position:absolute;
		top:-283px;
		display: none;
		background:url('graphics/piano3.png') center;
		max-width:1012px;
		width:100%;
		left:0;
		right:0;
		margin-left:auto;
		margin-right:auto;
		height:283px;
	}
	.overlay_wrapper{
		position: relative;
		width:100%;
		height:0px;
		$start: 3px;
		.piano_overlay{
			position:absolute;
			top:-210px;
			display: none;
			left:0px;
			&.red{
				left:$start
			}
			&.blue{
				left:$start+121px;
			}
			&.white{
				left:$start+180px;
			}
			&.black{
				left:$start+227px;
			}
			&.map{
				left:$start+240px;
			}
			&.final{
				left:$start - 177px;
			}
		}
	}
	.bot{
		position:absolute;
		height:65px;
		width:100%;
		bottom:-65px;
		right:0px;
		display: none;
		background-color:#211F20;
		text-align: center;
		@include no_select;
		z-index: 3;
	}
	.note{
		opacity:0;
		display: inline-block;
		width:30px;
		height:30px;
		line-height:30px;
		font-size:25px;
		margin:15px 15px 15px 0px;
		&:last-child{
			margin-right:0px;
		}
		border:2px solid white;
	    border-radius: 50%;
    	behavior: url(PIE.htc);
    	&.correct{
    		color:white;
  		  @include bounce_animation;
    	}
	}
	.int_popup_wrapper{
		width:200%;
		position:absolute;
		height:100%;
		top:0px;
		left:0px;
	}
	.int_popup{
		display: none;
		color:white;
		position:absolute;
		padding:0px 8px;
		left:20px;
		table{
			width:100%;
			height:100%;
		}
		&.img{
			&.black{
				background-color:$finger_black;
				@include rotate(3deg);
			}
			&.red{
				background-color:$finger_red;
				@include rotate(-7deg);
			}
			&.blue{
				background-color:$finger_blue;
				@include rotate(-3deg);
			}
			&.white{
				background-color:$finger_white;
				.btn_ex{
					color:black;
				}
			}
			&.map{
				background-color:gray;
			}
		}
		&.text{
			color: black;
			@include paper_border();
		}
		.slide_wrapper{
			height:100%;
		}
		.slide_img{
			max-width: 350px;
			max-height:250px;
			padding:8px 0px;
		}
		p{
			color:#141414;
			text-align:justify;
			hyphens:manual;
			line-height:1.4;
			font-size:0.9em;
			margin:0 0 -1.2em 0;
			&::after{
				content: "";
			  display: inline-block;
			  width: 100%;
			  line-height:0px;
			}
			&.final{
				text-align: left;
			}
		}
	}
	.solution_wrapper{
		@include paper_border;
		width:360px;
		padding:0 1em;
		position:absolute;
		margin-left:auto;
		margin-right:auto;
		z-index:4;
		left:0;
		right:0;
		top:50px;
		text-align: left;
		height:80%;
		overflow: scroll;
		display: none;
		.solution_title{
			text-align:center;
			font-family:'sl-ApresBold';
			text-transform: uppercase;
		}
		.btn_ex{
			top:5px;
			color:black;
		}
		p{
			color:#141414;
			text-align:justify;
			line-height:1.4;
			font-size:1em;
			margin:0;
		}
	}
	.btn_ex{
		position:absolute;
		top:0px;
		line-height:100%;
		right:3px;
		cursor:pointer;
		padding:0 0 0.5em 0.5em;
		opacity:0.3;
		font-size:0.7em;
		&:hover{
			color:#692325
		}
	}
}
.book_wrapper{
	.text_highlight{
		padding:0 .3em;
		font-size:0.9em;
	}
	.text_red{
		@extend .text_highlight;
		background-color:$finger_red;
		color:white;
	}
	.text_blue{
		@extend .text_highlight;
		background-color:$finger_blue;
		color:white;
	}
	.text_white{
		@extend .text_highlight;
		outline:1px solid #e3e3e3;
	}
	.text_black{
		@extend .text_highlight;
		background-color:black;
		color:white;
	}
	.text_map{
		@extend .text_highlight;
		background:url('graphics/map_faint.png');
	}
	.indent{
		width:1em;
		display:inline-block;
	}
	em{
		font-family:'sl-ApresIt';
		font-style: normal;
	}
}

/* animation */
@-webkit-keyframes usedLetter {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
  85% {
    opacity: 1;
    -webkit-transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes usedLetter {
  0% {
    transform: scale(1);
  }
  85% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.used {
  animation-name: usedLetter;
  animation-timing-function: ease-in;
  animation-duration: .15s;
  -webkit-animation-name: usedLetter;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: .15s;
}

@media screen and (max-width:580px){
	#int{
		width:100%;
		.int_popup{
			width:100% !important;
			height:100% !important;
			left:0px !important;
			top:0px !important;
			z-index:3;
			padding:0;
			&.img{
				&.black,&.red,&.map,&.blue,&.white{
					@include rotate(0deg);
				}
			}
		}
		.btn_ex{
			font-size:2em;
		}
		.int_popup_wrapper{
			width:100%;
		}
		.int_popup.text{
			border:none;
		}
		.btn_mute{
			display:none;
		}
	}
}
