#int{
	width:1012px;
	margin-left:auto;
	margin-right:auto;
	height:600px;
	text-align:center;
	overflow: hidden;
	position: relative;
	background: -moz-linear-gradient(top, rgba(198,199,203,0.65) 0%, rgba(234,234,234,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(198,199,203,0.65)), color-stop(100%,rgba(234,234,234,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(198,199,203,0.65) 0%,rgba(234,234,234,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(198,199,203,0.65) 0%,rgba(234,234,234,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(198,199,203,0.65) 0%,rgba(234,234,234,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(198,199,203,0.65) 0%,rgba(234,234,234,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6c6c7cb', endColorstr='#00eaeaea',GradientType=0 ); /* IE6-9 */

	.top_bar{
		$top_bar_padding:0.7em;
		text-align: center;
		position: relative;
		text-transform: uppercase;
		color:#F9F7F8;
		padding:$top_bar_padding;
		line-height:1em;
		background-color:#211F20;
		.right_wrapper{
			position: absolute;
			top:$top_bar_padding;
			right:100px;
			line-height: 1em;
		}
	}
	$finger_width: 42px;
	$finger_spacing: 15px;
	$finger_height:204px;
	.fingers_wrapper{
		height:$finger_height;
		z-index:2;
		top:240px;
		position: absolute;
		left:370px;
	}
	.finger{
		display: none;
		cursor: pointer;
		bottom:0px;
		position: absolute;
		width:$finger_width;
		height:$finger_height;
		box-shadow: 10px 15px 10px rgba(0,0,0,0.10);
		&.finger_red{
			left:0px;
			bottom:15px;
			background-color:red;
		}
		&.finger_blue{
			bottom:45px;
			left:(($finger_width+$finger_spacing)*1);
			background-color:blue;
		}
		&.finger_white{
			bottom:65px;
			left:(($finger_width+$finger_spacing)*2);
			background-color:white;
		}
		&.finger_black{
			bottom:45px;
			left:(($finger_width+$finger_spacing)*3);
			background-color:black;
		}
		&.finger_map{
			height:$finger_height*0.5;
			left:(($finger_width+$finger_spacing)*4)+($finger_width);
			bottom:0px;
			top:auto;
			background-color:yellow;
			transform:rotate(45deg);
			background:url('graphics/map.png');
		}
		&:active{
			opacity:0.9;
		}
	}
	.btn_music{
		cursor:pointer;
		position: absolute;
		top:60px;
		right:130px;
		width:39px;
		height:39px;
		background:url('graphics/btn_music.png');
	}
	.piano{
		position:absolute;
		bottom:-250px;
		display: none;
		background:url('graphics/piano.png');
		right:0px;
		width:1012px;
		height:250px;
	}
	.bot{
		position:absolute;
		height:65px;
		width:1012px;
		bottom:-65px;
		right:0px;
		display: none;
		background-color:#211F20;
		text-align: center;
		-moz-user-select:-moz-none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;
	}
	.note{
		opacity:0;
		display: inline-block;
		width:30px;
		height:30px;
		line-height:30px;
		font-size:25px;
		margin:15px 15px 15px 0px;
		&:last-child{
			margin-right:0px;
		}
		border:5px solid white;
	    border-radius: 50%;
    	behavior: url(PIE.htc);
    	&.correct{
    		color:white;
    	}
	}
	.int_popup{
		display: none;
		color:white;
		position:absolute;
		padding:15px;
		background-color:#B3B4B8;
		left:20px;
		top:70px;
		transform:rotate(-7deg);
		-ms-transform:rotate(-7deg); /* IE 9 */
		-webkit-transform:rotate(-7deg); /* Opera, Chrome, and Safari */
		&.black{
			background-color:black;
		}
		&.red{
			background-color:red;
		}
		&.blue{
			background-color:blue;
		}
		&.white{
			background-color:white;
		}
		&.map{
			background-color:gray;
		}
		.slide_wrapper{

		}
		.btn_ex{
			position:absolute;
			top:0px;
			line-height:100%;
			right:5px;
			cursor:pointer;
			padding:0 0 0.5em 0.5em;
			&:hover{
				color:#692325
			}
		}
		.slide_img{
			max-width: 300px;
			max-height:300px;
		}
	}
}
