#int{
	width:1012px;
	margin-left:auto;
	margin-right:auto;
	border-bottom:1px solid gray;
	height:600px;
	text-align:center;
	overflow: hidden;
	position: relative;
	background: -moz-linear-gradient(top, rgba(198,199,203,0.65) 0%, rgba(234,234,234,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(198,199,203,0.65)), color-stop(100%,rgba(234,234,234,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(198,199,203,0.65) 0%,rgba(234,234,234,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(198,199,203,0.65) 0%,rgba(234,234,234,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(198,199,203,0.65) 0%,rgba(234,234,234,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(198,199,203,0.65) 0%,rgba(234,234,234,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6c6c7cb', endColorstr='#00eaeaea',GradientType=0 ); /* IE6-9 */

	.top_bar{
		$top_bar_padding:0.7em;
		text-align: center;
		position: relative;
		text-transform: uppercase;
		color:#F9F7F8;
		padding:$top_bar_padding;
		line-height:1em;
		background-color:#211F20;
		.right_wrapper{
			position: absolute;
			top:$top_bar_padding;
			right:100px;
			line-height: 1em;
		}
	}
	$finger_width: 50px;
	$finger_spacing: 20px;
	$finger_height:250px;
	.fingers_wrapper{
		z-index:2;
		margin-top:100px;
		position:relative;
		display: inline-block;
		width:250px;
		height:$finger_height;
	}
	.finger{
		display: none;
		cursor: pointer;
		bottom:0px;
		position: absolute;
		width:$finger_width;
		height:$finger_height;
		box-shadow: 10px 10px 5px rgba(0,0,0,0.20);
		&.finger_red{
			left:0px;
			bottom:15px;
			background-color:red;
		}
		&.finger_blue{
			bottom:45px;
			left:(($finger_width+$finger_spacing)*1);
			background-color:blue;
		}
		&.finger_white{
			bottom:65px;
			left:(($finger_width+$finger_spacing)*2);
			background-color:white;
		}
		&.finger_black{
			bottom:45px;
			left:(($finger_width+$finger_spacing)*3);
			background-color:black;
		}
		&.finger_map{
			height:$finger_height*0.5;
			left:(($finger_width+$finger_spacing)*4)+($finger_width);
			bottom:0px;
			top:auto;
			background-color:yellow;
			transform:rotate(45deg);
			background:url('graphics/map.png');
		}
	}
	.btn_music{
		cursor:pointer;
		position: absolute;
		top:60px;
		right:130px;
		width:39px;
		height:39px;
		background:url('graphics/btn_music.png');
	}
	.piano{
		position:absolute;
		bottom:-250px;
		display: none;
		background:url('graphics/piano.png');
		right:0px;
		width:1012px;
		height:250px;
	}
	.bot{
		position:absolute;
		height:65px;
		width:1012px;
		bottom:-65px;
		right:0px;
		display: none;
		background-color:#211F20;
		text-align: center;
	}
	.note{
		opacity:0;
		display: inline-block;
		width:35px;
		height:35px;
		margin:15px 15px 15px 0px;
		&:last-child{
			margin-right:0px;
		}
		border:1px solid white;
	    border-radius: 50%;
    	behavior: url(PIE.htc);
	}
}